<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, collision, collision, accident, accidents, road accident, road collision">
    <meta name="author" content="C. Vlasie">


    <title>Document</title>
</head>

<body>
    <div id="header">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c1/Driver_and_Vehicle_Agency_logo.svg" alt="DVA logo"
            width="100px" height="50px">
        <h1>Road collisions Browser</h1>
    </div>
    <div id="navigation">
        <a href="/">Home</a>
    </div>
    <div id="content">
        <p>dummy content</p>
    </div>
    <div id="footer">
        <hr>
        <p>Author: C. Vlasie. Date: 8th July</p>
    </div>
</body>

</html>