<nav class="navbar navbar-expand-md sticky-top flex-column">
    <div class="w-100 d-flex">
        <div class="navbar-header" id="header">
            <img id="logo" src="https://upload.wikimedia.org/wikipedia/en/c/c1/Driver_and_Vehicle_Agency_logo.svg"
                alt="DVA logo" width="100px" height="50px">
            <h1 id="app_title">Road collisions Browser</h1>
        </div>
    </div>
    <div class="w-100 d-flex">
        <ul class="navbar-nav mr-auto" id="navigation">
            <li class="nav-item active"><a class="nav_link" href="/">Home&nbsp;</a></li>
            <li class="nav-item active"><a class="nav_link" href="https://www.gov.uk/">Gov.UK&nbsp;</a></li>
            <li class="nav-item active"><a class="nav_link"
                    href="https://www.nidirect.gov.uk/contacts/driver-vehicle-agency-dva-northern-ireland">
                    DVA Northern Ireland&nbsp;
                </a>
            </li>
        </ul>
    </div>
</nav>